# gitignore file for Xilinx ISE WebPACK 14.7

*.gise
iseconfig/
_ngo/
*.bgn
*.bit
*.xwbt
*.bld
*.cmd_log
*.drc
*.html
*.ncd
*.lso
*.map
*.mrp
*.ncd
*.ngm
*.xrpt
*.ngr
*.pad
*.csv
*.txt
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.xml
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.log
xlnx_auto_0_xdb/
_xmsgs/
xst/
*.ngc
*.ngd

# GTKWave
*.ghw

# vim
*.swp

# ghdl
work-obj08.cf
