## Clock (50 MHz)
NET "clk" TNM_NET = "clk";
NET "clk" LOC = "B8";
TIMESPEC "TS_clk" = PERIOD "clk" 20 ns HIGH 50 %;

## VGA
NET "red<0>"   LOC = "R9";
NET "red<1>"   LOC = "T8";
NET "red<2>"   LOC = "R8";
NET "green<0>" LOC = "N8";
NET "green<1>" LOC = "P8";
NET "green<2>" LOC = "P6";
NET "blue<0>"  LOC = "U5";
NET "blue<1>"  LOC = "U4";
NET "hsync"    LOC = "T4";
NET "vsync"    LOC = "U3";

## 7 segment display
#NET "seg<0>" LOC = "L18";
#NET "seg<1>" LOC = "F18";
#NET "seg<2>" LOC = "D17";
#NET "seg<3>" LOC = "D16";
#NET "seg<4>" LOC = "G14";
#NET "seg<5>" LOC = "J17";
#NET "seg<6>" LOC = "H14";
#NET "dp"     LOC = "C17";

#NET "an<0>" LOC = "F17";
#NET "an<1>" LOC = "H17";
#NET "an<2>" LOC = "C18";
#NET "an<3>" LOC = "F15";

## Buttons
#NET "btn0" LOC = "B18";

## RS232 connector
#NET "rx" LOC = "U6";
#NET "tx" LOC = "P9";

## Switches
NET "sw<0>" LOC = "G18";
NET "sw<1>" LOC = "H18";
NET "sw<2>" LOC = "K18";
NET "sw<3>" LOC = "K17";
NET "sw<4>" LOC = "L14";
NET "sw<5>" LOC = "L13";
NET "sw<6>" LOC = "N17";
NET "sw<7>" LOC = "R17";

## LEDs
NET "led<0>" LOC = "J14";
NET "led<1>" LOC = "J15";
NET "led<2>" LOC = "K15";
NET "led<3>" LOC = "K14";
NET "led<4>" LOC = "E17";
NET "led<5>" LOC = "P15";
NET "led<6>" LOC = "F4";
NET "led<7>" LOC = "R4";
